@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/* ROOT STYLES */
:root {

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-alt-1: 'DM Serif Text', sans-serif;

    /* ----------- Fixed Font sizes ------------ */
    /* ----------- Fixed Font sizes ------------ */
    /* --font-size-2xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.75rem;
    --font-size-4xl: 2rem;
    --font-size-5xl: 2.25rem;
    --font-size-6xl: 2.5rem;
    --font-size-7xl: 3rem;
    --font-size-8xl: 3.5rem;
    --font-size-9xl: 4rem;
    --font-size-10xl: 4.5rem;
    --font-size-11xl: 5rem;
    --font-size-12xl: 6rem; */

    /* ----------- Font sizes clamped ------------ */
    /* ----------- Font sizes clamped ------------ */
    --font-size-2xs: clamp(0.5rem, 1vw, 0.625rem);
    --font-size-xs: clamp(0.625rem, 1vw, 0.75rem);
    --font-size-sm: clamp(0.75rem, 1.1vw, 0.875rem);
    --font-size-md: clamp(0.875rem, 1.2vw, 1rem);
    --font-size-lg: clamp(1rem, 1.3vw, 1.125rem);
    --font-size-xl: clamp(1.125rem, 1.5vw, 1.25rem);
    --font-size-2xl: clamp(1.25rem, 1.8vw, 1.5rem);
    --font-size-3xl: clamp(1.5rem, 2vw, 1.75rem);
    --font-size-4xl: clamp(1.75rem, 2.2vw, 2rem);
    --font-size-5xl: clamp(2rem, 2.5vw, 2.25rem);
    --font-size-6xl: clamp(2.25rem, 2.8vw, 2.5rem);
    --font-size-7xl: clamp(2.5rem, 3vw, 3rem);
    --font-size-8xl: clamp(3rem, 3.5vw, 3.5rem);
    --font-size-9xl: clamp(3.5rem, 4vw, 4rem);
    --font-size-10xl: clamp(4rem, 4.5vw, 4.5rem);
    --font-size-11xl: clamp(4.5rem, 5vw, 5rem);
    --font-size-12xl: clamp(5rem, 6vw, 6rem);

    /* ----------- Font weights ------------ */
    /* ----------- Font weights ------------ */
    --font-weight-1: 100;
    --font-weight-2: 200;
    --font-weight-3: 300;
    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;
    --font-weight-8: 800;
    --font-weight-9: 900;

    /* ----------- Letter spacing ------------ */
    /* ----------- Letter spacing ------------ */
    --letter-spacing-1: -0.08em;
    --letter-spacing-2: -0.04em;
    --letter-spacing-3: -0.02em;
    --letter-spacing-4: 0;
    --letter-spacing-5: 0.02em;
    --letter-spacing-6: 0.04em;
    --letter-spacing-7: 0.08em;

    /* ----------- border radius ------------ */
    /* ----------- border radius ------------ */
    --border-radius-none: 0rem;
    --border-radius-2xs: 0.1875rem;
    --border-radius-xs: 0.25rem;
    --border-radius-sm: 0.375rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
    --border-radius-xl: 1rem;
    --border-radius-2xl: 1.5rem;
    --border-radius-full: 9999px;

    /* ----------- box-shadows ------------ */
    /* ----------- box-shadows ------------ */
    --shadow-2xs: 0 1px 2px rgba(134, 144, 162, 0.1);
    --shadow-xs: 0 2px 4px rgba(134, 144, 162, 0.15);
    --shadow-sm: 0 3px 6px rgba(134, 144, 162, 0.2);
    --shadow-md: 0 4px 8px rgba(134, 144, 162, 0.25);
    --shadow-lg: 0 6px 12px rgba(134, 144, 162, 0.3);
    --shadow-xl: 0 12px 24px rgba(134, 144, 162, 0.35);
    --shadow-2xl: 0 24px 48px rgba(134, 144, 162, 0.4);

    --shadow-focus: 0 0 0 4px rgba(0, 84, 203, 0.2);
    --shadow-success: 0 0 0 4px rgba(18, 181, 57, 0.2);
    --shadow-warning: 0 0 0 4px rgba(210, 127, 0, 0.2);
    --shadow-danger: 0 0 0 4px rgba(203, 18, 0, 0.2);
    --shadow-info: 0 0 0 4px rgba(0, 200, 177, 0.2);

    --swiper-shadow: 0 5px 5px 1px rgba(0, 0, 0, 1);

    /* ----------- filter blur ------------ */
    /* ----------- filter blur ------------ */
    --filter-blur-2xs: 4px;
    --filter-blur-xs: 8px;
    --filter-blur-sm: 12px;
    --filter-blur-md: 16px;
    --filter-blur-lg: 24px;
    --filter-blur-xl: 32px;
    --filter-blur-2xl: 48px;

    /* ----------- Font colors ------------ */
    /* ----------- Font colors ------------ */
    --font-clr-1: #ffffff;
    --font-clr-2: #b6b6b6;
    --font-clr-3: #9b9b9b;

    /* ----------- theme colors ------------ */
    /* ----------- theme colors ------------ */
    --theme-clr-1: #e9e9e9;
    --theme-clr-2: #111827;
    --theme-clr-3: #202938;
    --theme-clr-4: #0d9488;

    /* ----------- button colors ------------ */
    /* ----------- button colors ------------ */
    --button-clr-1: #A259FF;

    /* ----------- icon colors ------------ */
    /* ----------- icon colors ------------ */
    --icon-clr-1: invert(28%) sepia(25%) saturate(407%) hue-rotate(178deg) brightness(84%) contrast(100%);
    --icon-clr-2: invert(100%) sepia(9%) saturate(2%) hue-rotate(290deg) brightness(108%) contrast(100%);

    /* ----------- Extra CSS / Project Specific ------------ */
    /* ----------- Extra CSS / Project Specific ------------ */
    --gradient-clr-1: #ec4899;
    --gradient-clr-2: #3b82f6;
    --focus-clr-1: #0d9488;
}

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        margin: 0;
        padding: 0;
        background-color: var(--theme-clr-1);
        font-family: 'Montserrat', sans-serif;
        font-family: var(--font-family-base);
        transition: padding-right 0.2s ease;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="checkbox"],
    input[type="radio"],
    select,
    textarea {
        @apply w-full rounded-md bg-[#111827] text-white border border-gray-700;
        caret-color: white;
    }

    textarea {
        outline: none;
        transition: all 0.3s ease;
        background-clip: padding-box;
    }

    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="search"]:focus,
    textarea:focus {
        box-shadow: none;
        border-color: var(--focus-clr-1);
    }

    input[type="option"],
    select {
        @apply border-none rounded-none w-fit
    }
}

/* === TAILWIND UTILITIES === */
@layer utilities {}

/* === TAILWIND UTILITY COMPONENTS === */
@layer components {}